

.prod-detail-text{
padding: 32px 0 36px;
  p{
    font-weight: 400;
    line-height: 30px;
    margin: 0 0 24px;
    @extend .font-20;
  }
}
.product-detail{
  h2{
    line-height: normal;
    margin-bottom: 24px;
  }
  ul.list-item{
    list-style: none;
    li{
      position: relative;
      &:before{
        content:"-";
        position: absolute;
        left: -22px;
        top: 0;
      }
    }
  }
}