<footer  class="main-footer" id="three">
    <div class="container wow bounceInUp data-wow-delay="5s"">
        <div class="footer-container">
            <div class="logo-ft"><a href="About fab.html"><img src="../Common/images/FabLogo%20(1)%20(1).png" class="img-responsive"></a></div>
            <ul class="ft-crumb">
                <li> Business Banking </li>

            </ul>
            <div class="footer-right">
                <ul class="footer-links">
                    <li> <a href="/en-ae/service-status">Service Status</a> </li>
                    <li> <a href="/en-ae/about-fab/careers">Careers</a> </li>
                    <li> <a href="/en-ae/about-fab/investor-relations">Investor Relations</a> </li>
                    <li> <a href="/en-ae/privacy-policy" target="_blank">Privacy Policy</a> </li>
                    <li> <a href="/en-ae/terms-and-conditions">Terms &amp; Conditions</a> </li>
                    <li> <a href="/en-ae/disclaimer">Disclaimer</a> </li>
                </ul>
                <ul class="social-icons">
                    <li> <a href="#"> <i class="fa fa-facebook-f"></i> </a> </li>
                    <li> <a href="#"> <i class="fa fa-instagram"></i> </a> </li>
                    <li> <a href="#"> <i class="fa fa-linkedin"></i> </a> </li>
                    <li> <a href="#"> <i class="fa fa-twitter"></i> </a> </li>
                    <li> <a href="#"> <i class="fa fa-youtube"></i> </a> </li>
                </ul>
            </div>

        </div>
        <div class="copyright">
            Copyright © First Abu Dhabi Bank                </div>
    </div>
</footer>
<div id="backtop">&#9650;</div>