{{#is language "ar"}}

    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
        }

        ///  setcookie('googtrans', '/en/ar');
        document.cookie = "googtrans=/en/ar";

    </script>

    <script type="text/javascript"
            src="http://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

    <div id="google_translate_element"></div>

    <style type="text/css">
        .goog-te-banner-frame, .goog-te-gadget {
            display: none !important;
        }

        body {
            top: 0 !important;
            position: static !important;

        }

        #goog-gt-tt {
            display: none !important;
        }

        .goog-text-highlight {
            background: inherit !important;
            box-shadow: none;

        }
    </style>

{{/is}}