<section class="nav-head">
<header class="top-head ">
    <div class="head-top fadeInLeftBig wow">
    <div class="container iner-head">
        <div class="nav-wrap-left wow fadeinLeftBig">
            <ul class="list-unstyled">
                <li><a href="#one">Personal</a></li>
                <li><a href="#two">Business</a></li>
                <li><a href="#three">Corporate &amp; Investment</a></li>
                <li><a href="About fab.html">About FAB</a></li>
                <li><a href="Subsidiaries.html">Subsidiaries</a></li>
                <li><a href="Insights.html">Insights</a></li>
            </ul>
        </div>
        <div class="nav-wrap-right nav-e">
            <ul class="list-unstyled">
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">UAE<span><i class="fa fa-sort-down"></i></span></a></li>
                <li><a href="#">العربية</a></li>
                <li><a href="#"><i class="fa fa-search"></i></a></li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div></div>
    <div id="myHeader" class="middle-section wow fadeInRightBig float-panel" data-top="0" data-scroll="500">
    <div class="m1 menu">
        <div id="menu-center">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 col-md-9 left-area">
                        <div class="logo-1"><a href="About fab.html"><img src="../Common/images/FabLogo%20(1)%20(1).png" class="img-responsive"></a></div>
                        <div class="nav-wrap-left-1">
                            <ul class="list-unstyled">
                                <li><a href="#">Accounts</a></li>
                                <li><a href="#">Cards</a></li>
                                <li><a href="#">Loans</a></li>
                                <li><a href="#">Mortgages</a></li>
                                <li><a href="#">Save</a></li>
                                <li><a href="#">Elite</a></li>
                                <li><a href="#">Insure</a></li>
                                <li><a href="#">Invest</a></li>
                                <li><a href="#">FAB Islamic</a></li>
                                <li><a href="#">Private</a></li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 right-area">
                        <div class="nav-wrap-right triky-head">
                            <ul class="list-unstyled">
                                <li><a href="#"><i class="fa fa-search"></i></a></li>
                                <li><a href="#">العربية</a></li>
                                <li><a href="#">Contact Us</a></li>
                            </ul>
                        </div>
                        <div onclick="document.getElementById('id01').style.display='block'" class="log-btn iner-info main-head-info nav-fx"><a href="#"><span>login</span></a><span class="lock"><i class="fa fa-lock"></i></span></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>
    <div class="container">
    <div class="txt-nav wow bounceIn">
        <h1>Personal Banking</h1>
    </div>
</div></header>
    <div id="id01" class="modal">

        <form class="modal-content animate" action="/action_page.php">
            <div class="imgcontainer">
                <span style="color: #000000" onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
                <img src="../Common/images/img_avatar2.png" alt="Avatar" class="avatar">
            </div>

            <div class="container-modal">
                <label for="uname"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="uname" required>

                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="psw" required>

                <button type="submit">Login</button>
                <label>
                    <input type="checkbox" checked="checked" name="remember"> Remember me
                </label>
            </div>

            <div class="container-modal" style="background-color:#f1f1f1">
                <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
                <span class="psw">Forgot <a href="#">password?</a></span>
            </div>
        </form>
    </div>
</section>
