<div class="swiper-container">
    <div id="two" class="swiper-wrapper">
        <div class="swiper-slide"><img src="../Common/images/background-1.jpg"></div>
        <div class="swiper-slide"><img src="../Common/images/background-2.jpg"></div>
        <div class="swiper-slide"><img src="../Common/images/background-3.jpg"></div>

    </div>
    <!-- Add Arrows -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</div>