<section id="one" class="info-card">
    <div class="container">
        <h3>Take control of your finances with our personal banking solutions including bank accounts, home &amp; personal loans, credit cards and much more.</h3>
    </div>
    <div class="product-info wow fadeInUpBig data-wow-delay="4s"">
        <div class="product-info-card">
            <div class="product-img"> <img src="../Common/images/ProductCard.jpg" class="img-responsive"></div>
            <div class="product-cnt">
                <div class="container">
                    <div class="product-cnt-iner">
                        <h3>Accounts</h3>
                        <p> Maximize your savings with our wide range of accounts, we've got something for everyone. </p>
                        <span><a href="#"> Learn more<em><i class="fa fa-angle-right"></i></em></a></span></div>
                </div>
            </div>
        </div>
    </div>
    <div class="product-info-1 wow fadeInUpBig data-wow-delay="4s"">
        <div class="product-info-card">
            <div class="product-img"> <img src="../Common/images/ProductCards-2.jpg" class="img-responsive"></div>
            <div class="product-cnt product-cnt-1">
                <div class="container">
                    <div class="product-cnt-iner">
                        <h3>Credit Cards</h3>
                        <p> Apply for one of our credit cards today and enjoy exclusive offers and privileges.</p>
                        <span><a href="#"> Learn more<em><i class="fa fa-angle-right"></i></em></a></span></div>
                </div>
            </div>
        </div>
    </div>
    <div class="product-info wow fadeInUpBig data-wow-delay="4s"">
        <div class="product-info-card">
            <div class="product-img"> <img src="../Common/images/ProductCards-3.jpg"></div>
            <div class="product-cnt">
                <div class="container">
                    <div class="product-cnt-iner">
                        <h3>Loans</h3>
                        <p> Enjoy fast approvals, competitive interest rates and flexible repayment terms when you apply for a loan through FAB. </p>
                        <span><a href="#"> Learn more<em><i class="fa fa-angle-right"></i></em></a></span></div>
                </div>
            </div>
        </div>
    </div>
    <div class="product-info-1 wow fadeInUpBig data-wow-delay="4s"">
        <div class="product-info-card">
            <div class="product-img"> <img src="../Common/images/ProductCards-4.jpg"></div>
            <div class="product-cnt product-cnt-1">
                <div class="container">
                    <div class="product-cnt-iner">
                        <h3>Mortgages</h3>
                        <p> Whether you're a first time buyer, investor or looking to remortgage your home we have you covered. </p>
                        <span><a href="#"> Learn more<em><i class="fa fa-angle-right"></i></em></a></span></div>
                </div>
            </div>
        </div>
    </div>
    <div class="product-info wow fadeInUpBig data-wow-delay="4s"">
        <div class="product-info-card">
            <div class="product-img"> <img src="../Common/images/CrossSellLarge.jpg"></div>
            <div class="product-cnt">
                <div class="container">
                    <div class="product-cnt-iner">
                        <h3>Save</h3>
                        <p> Saving is essential to building your long-term wealth, regardless of your age, it's never too early to start. </p>
                        <span><a href="#"> Learn more<em><i class="fa fa-angle-right"></i></em></a></span></div>
                </div>
            </div>
        </div>
    </div>
    <div class="product-info-1 wow fadeInUpBig data-wow-delay="4s"">
        <div class="product-info-card">
            <div class="product-img"> <img src="../Common/images/CrossSellLarge-1.jpg"></div>
            <div class="product-cnt product-cnt-1">
                <div class="container">
                    <div class="product-cnt-iner">
                        <h3>Elite</h3>
                        <p> As an esteemed Elite Banking customer, you will receive personal attention, priority service and tailor made products that are specifically designed to make your banking experience an exclusive way of life. </p>
                        <span><a href="#"> Learn more<em><i class="fa fa-angle-right"></i></em></a></span></div>
                </div>
            </div>
        </div>
    </div>
    <div class="product-info wow fadeInUpBig data-wow-delay="4s"">
        <div class="product-info-card">
            <div class="product-img"> <img src="../Common/images/Product-child.jpg"></div>
            <div class="product-cnt">
                <div class="container">
                    <div class="product-cnt-iner">
                        <h3>Insure</h3>
                        <p> Let us help you secure your future so that you can focus on what matters most. </p>
                        <span><a href="#"> Learn more<em><i class="fa fa-angle-right"></i></em></a></span></div>
                </div>
            </div>
        </div>
    </div>
    <div class="product-info-1 wow fadeInUpBig data-wow-delay="4s"">
        <div class="product-info-card">
            <div class="product-img"> <img src="../Common/images/Product-new.jpg"></div>
            <div class="product-cnt product-cnt-1">
                <div class="container">
                    <div class="product-cnt-iner">
                        <h3>Invest</h3>
                        <p> Access a world of investment opportunities across different asset classes and regions. </p>
                        <span><a href="#"> Learn more<em><i class="fa fa-angle-right"></i></em></a></span></div>
                </div>
            </div>
        </div>
    </div>
    <div class="product-info wow fadeInUpBig data-wow-delay="4s"">
        <div class="product-info-card">
            <div class="product-img"> <img src="../Common/images/Product-new-1.jpg"></div>
            <div class="product-cnt">
                <div class="container">
                    <div class="product-cnt-iner">
                        <h3>Islamic Products &amp; Services</h3>
                        <p> Our Islamic Banking, guided by Shariah rules and principles, offers a wide range of world-class products and services that address our customer’s needs through Islamic financing and investment. </p>
                        <span><a href="#"> Learn more<em><i class="fa fa-angle-right"></i></em></a></span></div>
                </div>
            </div>
        </div>
    </div>
</section>