/* COLORS */
$primaryColor: rgba(244, 146, 6, 1);
$primaryColorHover: rgba(244, 146, 6, 0.8);
$lightOrange: #FFBB5B;
$Orange: #f49206;
$darkBlue: rgba(0, 86, 165, 1);
$darkBlueHover: rgba(0, 86, 165, 0.8);
$blueColor: #2874BB;
$blueColor2: #4886c1;
$greenColor: #008751;
$lightGreen: #07B160;
$darkGreyColor: #434343;
$darkGrey: #BBBABE;
$white: #fff;
$lightBlue: #f6f9fc;
$blackColor: #434343;
$lightGrey: #f1f1f2;
$staryellow:#ffe35b;
$mid-grey: #d8d8d8;
$darkerBlue: #021a30;
$darkGreyOpacity: rgba(187, 186, 190, 0.3);
$borderColor:rgba(187, 186, 190, 0.3);
$borderColorHover:rgba(187, 186, 190, 0.8);
$darkGreyColorOpacity:rgba(67, 67, 67, 0.5);
$darkGreyOpacity15:rgba(187, 186, 190, 0.15);
$darkGreyOpacity2:rgba(187, 186, 190, 0.2);
$whiteOpacity2:rgba(255, 255, 255, 0.2);
$darkGreyBorder: #394a5a;
$alertBlue: #0056a5;
$darkerOrange:#f49206;
$black:#000;
$navGreyBg:#eaecef;


